.profile__pic {
    width: 130px;
    height: 130px;
    padding: 45px;
    background: #EFEFEF;
    border-radius: 50%;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto
}