.search {
  display: inline-flex;
  background: #efefef;
  border-radius: 5px;
  padding: 10px;
  margin-top: 23px;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/Union.png);
  /* background-size: cover; */
  background-position-x: 90px;
  background-position-y: 10px;
  background-repeat: no-repeat;
}
