.messages__time-pic {
    position: absolute;
    bottom: 10px;
    left: 35%;
    background: rgba(82, 82, 82, 0.5);
    border-radius: 30px;
    padding: 2px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;

    text-align: right;

    color: #FFF;
    margin: 0;
}